<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Web App Security Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="templates/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/scanner">Scanner</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
        </nav>
    </header>
    <div class="container">
        <h1>About Us</h1>
        <p><big>Welcome to Web App Security Scanner</big>
            <br>
            <br>
            At Web App Security Scanner, we are passionate about helping web developers and businesses secure their online applications against potential vulnerabilities. Our mission is to provide powerful and user-friendly tools that make web security accessible to everyone.
            <br><br>
            <big>Who We Are:</big><br><br>
            We are a dedicated team of cybersecurity enthusiasts, developers, and researchers who understand the importance of web security in today’s digital landscape. With years of experience in software development and information security, we aim to empower users with the knowledge and tools to protect their applications from various threats.
            <br><br>
            <big>What We Do:</big><br><br>
            Our primary focus is on developing innovative scanning tools that identify security vulnerabilities, such as SQL Injection, Cross-Site Scripting (XSS), and Cross-Site Request Forgery (CSRF). Our intuitive interface allows users to easily input their URLs and receive detailed reports about potential risks.
            <br><br>
            <big>Our Vision:</big><br><br>
            We envision a world where web applications are secure, reliable, and trustworthy. By simplifying the security scanning process, we aim to raise awareness about web security and encourage developers to prioritize secure coding practices.
            <br><br>
            <big>Join Us on Our Mission:</big><br><br>
            We invite you to explore our tools and take the first step towards securing your web applications. Whether you're a seasoned developer or just starting, we’re here to help you navigate the complexities of web security.
            <br><br>
                    
            Thank you for choosing Website Security Scanner!
            
           </p>
    </div>
</body>
</html>
