<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Website Security Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="templates/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/scanner">Scanner</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
        </nav>
    </header>
    <div class="container">
        <h1>Contact Us</h1>
        <p>If you have any questions, feel free to reach out at revanthn37@gmail.com</p>
    </div>
</body>
</html>
